@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>Tamrul General Practice Innovations are a family run set of GP clinics for all of your healthcare needs.</p> 
<p>We offer many services, including but not limited to:</p>
<ul>
	<li>Consultations</li>
	<li>Checkups</li>
	<li>Vaccinations</li>
	<li>Blood Tests</li>
</ul>
<p>We also have a variety of male and female doctors so that you are looked after exactly how you want to be.</p>
<h2>Contact Information</h2>
<dl>
	<dt>Email Address</dt>
	<dd>HealthcareServicesGP@gmail.com</dd>
	<dt>Phone Number</dt>
	<dd>0422 592 902</dd>
</dl>
