@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Healthcare Services General Practice</h1>
    <p class="lead">Family run GPs Located in multiple locations within Melbourne.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            We are a family run set of GP clinics who focus on providing the best health services we possibly can.
        </p>
	    @Html.ActionLink("About Us", "About", "Home")
    </div>
    <div class="col-md-4">
        <h2>Book an Appointment</h2>
        <p>To book an appointment, please contact our lovely reception staff at 03 9700 5373.</p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>Find us!.</p>
	    @Html.ActionLink("Locations", "Index", "Location")
    </div>
</div>